<li class="nav-item dropdown">
  {{#if req.session.userData}}
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Perfil
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Cuenta</a></li>
      <li><a class="dropdown-item" href="#">Configuraciones</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
    </ul>
  {{else}}
    {{/if}}
</li>