<div class="container mt-5">
  <h1 class="text-center mb-4">Nuestros Servicios</h1>

  <!-- Servicio: Sublimación -->
  <div class="row align-items-center mb-4">
    <div class="col-md-6">
      <h2>Sublimación</h2>
      <p>Servicio de sublimación para la personalización de productos mediante la transferencia de tinta a alta
        temperatura. Desde tazas y camisetas hasta artículos promocionales, la sublimación ofrece una gama versátil de
        opciones para plasmar diseños de manera vibrante y duradera en diferentes superficies.
      </p>
    </div>
    <div class="col-md-6">
      <img src="/assets/img/Servicios/sublimacion.png" alt="Sublimación" class="img-fluid">
    </div>
  </div>

  <!-- Servicio: Impresión 3D -->
  <div class="row align-items-center mb-4">
    <div class="col-md-6 order-md-2">
      <h2>Impresión 3D</h2>
      <p>Servicio de impresión tridimensional para la creación de prototipos, modelos y piezas personalizadas. Mediante
        tecnología avanzada, transformamos diseños digitales en objetos físicos, abriendo posibilidades infinitas en
        campos como la arquitectura, la medicina, la ingeniería y la industria creativa.</p>
    </div>
    <div class="col-md-6 order-md-1">
      <img src="/assets/img/Servicios/impresora3d.png" alt="Impresión 3D" class="img-fluid">
    </div>
  </div>

  <!-- Servicio: Corte Plotter -->
  <div class="row align-items-center mb-4">
    <div class="col-md-6">
      <h2>Corte Plotter</h2>
      <p>Servicio de corte con plotter para la elaboración precisa de diseños en diversos materiales como vinilo, papel,
        tela y más. Esta técnica es ideal para proyectos de señalización, decoración, y personalización de prendas y
        objetos.</p>
    </div>
    <div class="col-md-6">
      <img src="/assets/img/Servicios/plotter.png" alt="Corte Plotter" class="img-fluid">
    </div>
  </div>

  <!-- Servicio: Corte CNC -->
  <div class="row align-items-center mb-4">
    <div class="col-md-6 order-md-2">
      <h2>Corte CNC</h2>
      <p>Servicio de corte mediante control numérico computarizado para trabajos de precisión en materiales sólidos como
        madera, plástico, aluminio, entre otros. La tecnología CNC permite la creación de piezas detalladas y complejas
        según las especificaciones requeridas.</p>
    </div>
    <div class="col-md-6 order-md-1">
      <img src="/assets/img/Servicios/cnc.png" alt="Corte CNC" class="img-fluid">
    </div>
  </div>

  <!-- Servicio: Desarrollo Web -->
  <div class="row align-items-center mb-4">
    <div class="col-md-6">
      <h2>Desarrollo Web</h2>
      <p>Servicio de desarrollo web profesional y a medida. Creamos sitios web y aplicaciones digitales adaptadas a las
        necesidades de nuestros clientes. Desde páginas estáticas hasta plataformas interactivas, trabajamos para
        ofrecer soluciones innovadoras y funcionales.</p>
    </div>
    <div class="col-md-6">
      <img src="/assets/img/Servicios/web.png" alt="Desarrollo Web" class="img-fluid">
    </div>
  </div>

  <!-- Servicio: Impresión-->
  <div class="row align-items-center mb-4">
    <div class="col-md-6 order-md-2">
      <h2>Impresión Fotografica</h2>
      <p>Servicio de impresión de fotos en papel fotográfico de alta calidad. Capturamos momentos especiales y los
        convertimos en recuerdos tangibles y duraderos. Nuestro enfoque en la calidad y la atención al detalle garantiza
        resultados excepcionales para sus imágenes.</p>
    </div>
    <div class="col-md-6 order-md-1">
      <img src="/assets/img/Servicios/impresora.png" alt="Corte CNC" class="img-fluid">
    </div>
  </div>

</div>